
.container {
  flex: 1 1 300px;
  padding: 20px;
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 20px;
  border: 1px solid #6ea369;
  border-radius: 45px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(0.5cm);
  background-color: #5b5296;
  opacity: 0.85;
  display: flex;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center vertically */
  transform: translateY(4cm);
}




label {
  color:#fff;
}

